<div class="container">
  <div class="card card-container">
    <h3 class="text-center">BANKING SERVICE</h3>
    <img id="profile-img" class="profile-img-card" src="assets/avatar.png"/>
    <form class="form-signin">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Nazwa użytkownika" [(ngModel)]="login" name="login"  id="inputEmail"  >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Hasło" [(ngModel)]="password" name="password" type="password" id="inputPassword"  >
      </mat-form-field>
      <br>
      <p>
        login: admin
        <br>
        hasło: admin
      </p>
      <button (click)="onSubmit()"  class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Zaloguj się</button>
    </form>
  </div>
</div>
